@media (max-width: 768px) {
    .navbar_mid {
        display: none;
    }

    .navbar img {
        width: 140px;
        margin-left: 16px;
    }

    .navbar_right {
        padding-right: 16px;
    }

    .navbar_right button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
.navbar .container{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    font-family: "Roboto", sans-serif;
    align-items: center;
    padding-bottom: 30px;
}
.navbar img{
    margin-left: 24px;
    width: 200px;
}
.navbar_mid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.navbar_mid .active{
    color: blue;
}
.navbar_right{
    justify-self: end;
    padding-right: 60px;
}
.navbar_right button{
    padding: 10px 24px;
    border-radius: 8px;
    border: 1px solid blue;
    color: blue;
}
.Header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    padding-left: 24px;
    padding-bottom: 40px;
}
.h_left{
    padding-left: 48px;
}
.h_left span{
    font-size: 15px;
    color: #282938;
}
.h_left h2{
    font-size: 36px;
    font-weight: 700;
}
.h_left h2 span{
    color: #6c63ff;
    font-size: 36px;
}
.h_left p{
    font-size: 15px;
    color: #1C1E53;
}
.h_left button{
    border: 1px solid #5E3BEE;
    padding: 10px 24px;
    background-color: #5E3BEE;
    color: white;
    border-radius: 5px;
}
.h_right{
    display: flex;
    justify-content: flex-end;
}
.h_right img{
    max-width: 60%;
    padding-right: 48px;
}
.mySkill{
    padding-top: 40px;
    font-family: "Roboto", sans-serif;
    padding-left: 24px;
    padding-right: 24px;
}
.mS_top span{
    font-size: 15px;
    color:#282938;
}
.mS_top h2{
    font-size: 36px;
    font-weight: 700;
    color: #282938;
    margin-top: 8px;
}
.mS_bot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    
}
.mS_bot img{
    width: 40px;
    display: block;
    padding-bottom: 5px;
}
.mS_bot span{
    padding-top: 24px;
    font-weight: 700;
}
.mS_bot p{
    font-size: 15px;
    width: auto;
}
.bot_1, .bot_2, .bot_3, .bot_4 {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
}
.bot_1{
    border-bottom: 3px solid #5E3BEE;
}
.about .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Roboto", sans-serif;
    align-items: center;
}
.about img{
    width: 700px;
}
.about_right{
    padding-right: 24px;
}
.about_right span{
    font-size: 15px;
}
.about_right h2{
    color: #282938;
    font-size: 36px;
    font-weight: 700;
    margin-top: 3px;
}
.about_right p{
    font-size: 15px;
    margin-top: 2px;
}
.Blog .container{
    font-family: "Roboto", sans-serif;
    padding-left: 24px;
    padding-right: 24px;
}
.blog_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

}
.blog_top_l{
    margin-top: 30px;
}
.blog_top_l span{
    font-size: 15px;
    color: #282938;
}
.blog_top_l h2{
    color: #282938;
    font-size: 36px;
    font-weight: 700;
    margin-top: 3px;
}
.blog_top_r{
    display: flex;
    align-items: center;
    background-color: #E62872;
    border-radius: 8px;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;
}
.blog_top_r img{
    width: 20px;
}
.blog_top_r span{
    font-size: 15px;
    font-weight: 400;
    color: #eee;
}
.blog_bot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding-left: 24px;
    padding-right: 24px;
}
.blog_bot img{
    width: 400px;
}
.blog_bot h3{
    font-weight: 500;
}
.blog_bot p{
    font-size: 15px;
}
.blog_bot span{
    border-bottom: 2px solid #999;
}
.blog_bot span img{
    width: 15px;
}
.blog_bot2 span img, .blog_bot3  span img{
    filter: brightness(0) saturate(100%) invert(85%) sepia(28%) saturate(957%) hue-rotate(160deg) brightness(101%) contrast(96%);
}
.testimonials .container{
    font-family: "Roboto", sans-serif;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 300px;
}
.t_top span{
    font-size: 15px;
    font-weight: 700;
}
.t_top h2{
    font-size: 36px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 40px;
}
.t_bot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 24px;
    margin-top: 50px;
}
.t_bot1, .t_bot2, .t_bot3{
    border: 1px solid #006B6A;
    padding: 30px;
    border-radius: 10px;
}
.t_bot1 img:nth-child(1), .t_bot2 img:nth-child(1), .t_bot3 img:nth-child(1){
    width: 200px;
}
.t_bot1 > p, .t_bot2 > p, .t_bot3 > p {
    font-size: 15px;
    color: #1C1E53;
    line-height: 1.6;
    margin-bottom: 24px;
}
.bottom{
    display: flex;
    align-items: center;
    gap:10px;
}
.t_bot1 .bottom img,
.t_bot2 .bottom img,
.t_bot3 .bottom img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}
.contact .container{
    font-family: "Roboto", sans-serif;
    align-items: center;
    margin-top: 150px;
    text-align: center;
}
.contact_top span{
    font-size: 15px;
    font-weight: 500;
}
.contact_top h2{
    font-size: 36px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #282938;
}
.contact_top p{
    font-size: 15px;
    margin-bottom: 30px;
}
.contact_form .row1{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: left;
}
.fn label, .ln label{
    display: block;
    font-size: 15px;
    color: #282938;
    margin-bottom: 6px;
}
.contact_form .row2{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: left;
}
.e label, .p label{
    display: block;
    font-size: 15px;
    color: #282938;
    margin-bottom: 6px;
}
.fn input, .ln input,
.e input, .p input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #5E3BEE;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.contact_form{
    max-width: 600px;
    margin: 0 auto;
}
.contact_form .row3{
    text-align: left;
    display: block;
}
.contact_form .row3 label{
    color: #282938;
    font-size: 15px;
    margin-bottom: 6px;
}
.contact_form .row3 select {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #5E3BEE;
    border-radius: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.contact_form .row4{
    text-align: left;
    display: block;
}
.contact_form .row4 label{
    color: #282938;
    font-size: 15px;
    margin-bottom: 6px;
}
.contact_form .row4 textarea{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    border: 1px solid #5E3BEE;
    border-radius: 6px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.contact_form .row5 label{
    display: block;
    text-align: left;
    color: #282938;
    justify-content: left;
    font-size: 15px;
}
.contact_form .row5 button{
    justify-content: center;
    padding : 10px 20px;
    border-radius: 6px;
    background-color: #5E3BEE;
    color: #FFFFFF;
}
.Footer .container{
    font-family: "Roboto", sans-serif;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}
.F_top{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding-bottom: 40px;
}
.F_top .l img{
    width: 200px;
}
.F_top .m{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    font-size: 15px;
    gap: 10px;
    padding-right: 80px;
}
.F_top .r img{
    width: 30px;
    padding-left: 20px;
    gap: 10px;
}
.F_bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #999;
    font-size: 15px;
}
.F_bot .r{
    display: flex;
    gap: 20px;
}
.F_bot .r span:nth-child(1), .F_bot .r span:nth-child(2), .F_bot .r span:nth-child(3){
    border-bottom: 1px solid #999;
}








